name: Snake
on:
  schedule:
    - cron: "* */12 * * *"
  workflow_dispatch:
permissions:
 contents: write
jobs:
  build:
    name: update snake
    runs-on: ubuntu-latest
    steps:
      - uses: Platane/snk@master
        id: snake-gif
        with:
          github_user_name: riicess
          svg_out_path: dist/snake.svg
      - uses: crazy-max/ghaction-github-pages@v2.1.3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
